@using Colombo.Clerk.Messages

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Clerk - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/CSS/Clerk.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/JS/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" media="all" href="css/ie.css"/>
        <script src="@Url.Content("~/Content/JS/html5.js")"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="js/IE8.js"></script>
    <![endif]-->
</head>
<body>
    <header id="top">
		<div class="wrapper">
            <div id="title">Clerk</div>
            <div id="topnav">
			    <a href="#"><img class="avatar" src="@Url.Content("~/Content/Img/user_32.png")" alt="" /></a>
			    Logged in as <b>@ViewData["Username"]</b>
		    </div>
            <nav id="menu">
				<ul class="sf-menu">
					@Html.MainMenuLink("Dashboard")
                    @Html.MainMenuLink("Entries", "Index", "Entries", true)
				</ul>
			</nav>
        </div>
    </header>
    <div id="pagetitle">
        <div class="wrapper">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div id="page">
        <div class="wrapper">
            @RenderBody()
        </div>
    </div>
    <footer>
    </footer>

    <script type="text/javascript">
        @RenderSection("BottomJavascript", required: false)
    </script>
</body>
</html>
